* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a,
li,
ul,
input,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1321px;
  padding: 0 24px;
  margin: auto;
}

body {
  background-color: #fff;
}

.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}
.footer i {
  color: #fff;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__info {
  display: flex;
  gap: 150px;
}

.footer__info__wraper {
  display: flex;
  gap: 109px;
}

.footer__info__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info__links--link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer__inputs--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer__inputs__wraper {
  display: flex;
}

.footer--input {
  padding: 17px 200px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer--btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 16px 32px;
}

.footer--line {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer__bootom__icons {
  display: flex;
  justify-content: space-between;
}

.footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer__bootom__icons__wraper {
  display: flex;
  gap: 24px;
}

.footer__bootom__icons__wraper--icon {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .footer__info {
    gap: 100px;
  }
  .footer__info__wraper {
    gap: 59px;
  }
  .footer--input {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .footer--input {
    padding: 17px 50px 17px 32px;
    font-size: 12px;
  }
  .footer__info {
    gap: 70px;
  }
  .footer__info__wraper {
    gap: 49px;
  }
}
@media screen and (max-width: 870px) {
  .footer__wraper {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__info {
    gap: 150px;
  }
  .footer__info__wraper {
    gap: 100px;
  }
}
@media screen and (max-width: 770px) {
  .footer__bootom__icons__wraper {
    display: none;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer__info {
    gap: 30px;
    flex-direction: column;
  }
  .footer__info__wraper {
    justify-content: space-between;
  }
  .footer--line {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer__bootom__icons__wraper--icon {
    display: none;
  }
  .footer__bootom__icons--text {
    margin: auto;
  }
  .footer--input {
    padding: 17px 55px 17px 32px;
  }
  .footer--btn {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px) {
  .footer--input {
    padding: 17px 30px 17px 32px;
    font-size: 11px;
  }
}
@media screen and (max-width: 375px) {
  .footer--input {
    padding: 17px 10px 17px 32px;
    font-size: 11px;
  }
}
.navbar {
  padding: 20px 28px;
}

.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--icon {
  width: 16px;
  height: 16px;
}

.navbar--title {
  color: #22202e;
  font-size: 24px;
  font-weight: 400;
}

.nabar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__icons--icon {
  width: 16px;
  height: 16px;
}

.menu {
  width: 16px;
  height: 16px;
  display: none;
}

.navbar--line {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.navbar__bootom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.navbar__bootom--link {
  color: #726e8d;
  font-size: 16px;
  font-weight: 400;
}

.blokk {
  width: 16px;
  height: 16px;
  display: none;
}

@media screen and (max-width: 770px) {
  .navbar {
    padding: 20px 24px;
  }
  .navbar--icon,
  .navbar__bootom,
  .navbar--line,
  .nonee {
    display: none;
  }
  .menu {
    display: block;
  }
  .blokk {
    display: block;
  }
}
.card {
  background: #f9f9f9;
  padding-top: 64px;
  padding-bottom: 0;
}

.card--title {
  color: #2a254b;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 48px;
}

.card__info_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__info__product--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
}

.card__wrap {
  border-bottom: 1px solid #ebe8f4;
  border-top: 1px solid #ebe8f4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 0;
}

.container-card {
  max-width: 1112px;
  padding: 0 24px;
  margin: auto;
}

.card__left {
  display: flex;
  justify-content: space-between;
}

.card__info {
  display: flex;
  align-items: center;
  gap: 21px;
}

.card--img {
  width: 109px;
  object-fit: cover;
}

.card__info__wraper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__info--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
}

.card__info--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
  max-width: 179px;
}

.card__info--text-none {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: none;
}

.card__left--text1 {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  margin-right: 252px;
  padding-top: 12px;
}

.card__left--text2 {
  padding-top: 12px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 770px) {
  .card__info_product {
    display: none;
  }
  .card--title {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .card {
    padding-top: 36px;
  }
  .card__info--text-none {
    display: block;
  }
  .card__left--text2,
  .card__left--text1 {
    display: none;
  }
  .card--img {
    width: 133px;
    object-fit: cover;
    height: 166px;
  }
  .card__wrap {
    align-items: center;
  }
}
.subtotal {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 15px;
}

.subtotal--title {
  text-align: end;
  padding-top: 31px;
  color: #4e4d93;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
}
.subtotal--title span {
  color: #2a254b;
  text-align: right;
  font-size: 24px;
  font-weight: 400;
}

.subtotal--text {
  text-align: end;
  color: #4e4d93;
  font-size: 14px;
  font-weight: 400;
}

.subtotal--btn {
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
}
.subtotal--btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .subtotal--btn {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
