.card {
  background: #f9f9f9;
  padding-top: 64px;
  padding-bottom: 0;
}
.card--title {
  color: #2a254b;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 48px;
}
.card__info_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card__info__product--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
}
.card__wrap {
  border-bottom: 1px solid #ebe8f4;
  border-top: 1px solid #ebe8f4;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px 0;
}
.container-card {
  max-width: 1112px;
  padding: 0 24px;
  margin: auto;
}
.card__left {
  display: flex;
  justify-content: space-between;
}
.card__info {
  display: flex;
  align-items: center;
  gap: 21px;
}
.card--img {
  width: 109px;
  object-fit: cover;
}
.card__info__wraper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__info--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
}
.card__info--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
  max-width: 179px;
}
.card__info--text-none {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: none;
}
.card__left--text1 {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  margin-right: 252px;
  padding-top: 12px;
}
.card__left--text2 {
  padding-top: 12px;
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 770px) {
  .card__info_product {
    display: none;
  }
  .card--title {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .card {
    padding-top: 36px;
  }
  .card__info--text-none {
    display: block;
  }
  .card__left--text2,
  .card__left--text1 {
    display: none;
  }
  .card--img{
    width: 133px;
    object-fit: cover;
    height: 166px;
  }
  .card__wrap{
    align-items: center;
  }
}
