.subtotal {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 15px;
}
.subtotal--title {
  text-align: end;
  padding-top: 31px;
  color: #4e4d93;
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  span {
    color: #2a254b;
    text-align: right;
    font-size: 24px;
    font-weight: 400;
  }
}
.subtotal--text {
  text-align: end;
  color: #4e4d93;
  font-size: 14px;
  font-weight: 400;
}
.subtotal--btn { 
        background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 5px;
        display: block;
      &:hover {
        background-position: right center; 
        color: #fff;
        text-decoration: none;
      }
     
     
}
@media screen and (max-width:550px) {
    .subtotal--btn{
        width: 100%;
    }
}